@page
@model CustomerCarePortal.Pages.Agents.IndexModel
@{
}
<div class="mb-3">
    <a class="btn btn-outline-success" asp-page="./Create">Add New Agent</a>
</div>
<!-- List of agents in the system -->
<div class="row">
    <div class="col-12 h2 text-secondary">Currently Agents in the System</div>
    <table class="col-12 table table-active table-hover">
        <thead>
            <tr>
                <th>
                    Agent Name
                </th>
                <th>
                    Team Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var agent in @Model.AllAgentsInSystem)
            {
                <tr>
                    <td>
                        @agent.Name
                    </td>
                    <td>
                        @agent.Team.Name
                    </td>
                    <td>
                        <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@agent.Id">
                            <i class="bi bi-pencil-square"></i>&nbsp; Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
