@page
@model CustomerCarePortal.Pages.Tickets.SuccessModel
@{
}
<div class="fs-1 text-info"> Thanks for using the Portal</div>
<div class="fs-1 text-info">
    Your ticket has been generated with ticket id:
    <div class="fs-3 row fw-semibold text-success">
        <p onclick="CopyText()" id="cpytxt" class="col-md-6 text-succsess" title="Click To Copy">@Model.Ticket.TrackingId</p>
        <p class="col-md-6 opacity-50">(Click on Id to copy)</p>
    </div> We will try to resovle the issue as soon as possible
</div>
<div class="fs-2 text-info">
    You can check status of your ticket later at <a class="link-info" asp-page="/Tickets/Tracking">Tracking Page</a>
</div>

<script>
    function CopyText() {
        navigator.clipboard.writeText(document.getElementById("cpytxt").innerHTML.toString());
    }
</script>